ant-jars/
ant-instr/
ant-lib/
ant-www/
ant-docs/
ant-reports/
ant-eclipse-lib/
ant-eclipse-genfiles/
ant-maven/
ant-war/
.appspot-change
.project
.classpath
.settings
.svn/
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
out/